{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/theme.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">SimpleFAQ</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li{% if request.resolver_match.url_name == 'index' %} class="active"{% endif %}><a href="{% url 'index' %}">Accueil</a></li>
                <li{% if request.resolver_match.url_name == 'contact' %} class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
                <form class="navbar-form navbar-left" action="{% url 'index' %}">
                    <div class="form-group">
                        <input name="search" type="text" class="form-control" placeholder="Rechercher" value="{{ search }}">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                        <span class="glyphicon glyphicon-menu-hamburger"></span> Bienvenue, <strong>{{ user }}</strong> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">
                                <span class="glyphicon glyphicon-cog"></span> Administration</a></li>{% endif %}
                            <li><a href="{% url 'admin:logout' %}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                        </ul>
                        {% else %}
                        <span class="glyphicon glyphicon-menu-hamburger"></span> Bienvenue, <strong>anonyme</strong> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'admin:login' %}"><span class="glyphicon glyphicon-pencil"></span> Connexion</a></li>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
          </div>
        </nav>
        <div class="container" role="main">
            <div class="page-header">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
            {% bootstrap_messages %}
            {% block content %}{% endblock %}

        </div>
        <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
